@charset "utf-8";
html, body {
 margin: 0px;
 padding: 0px;
 border: 0px;
 }
h1, h2, h3, h4, h5, h6 {
 font-family: Arial, Helvetica, sans-serif;
 }
 h1 { font-size: 3em; }
 h2 { font-size: 1.5em; }
 h3 { font-size: 1.2em ; }
 h4 { font-size: 1.0em; }
 h5 { font-size: 0.9em; }
 h6 { font-size: 0.8em; }

.nav .icon {
display: none;
}
@media only screen and (max-width: 1000px){
.nav .icon {
position: relative;
float: none;
display: block;
box-sizing: border-box;
padding: 20px 30px;
order: 0;
flex: 0 0 40px;
border: none;
}



.nav .icon:hover {
background-color: rgb(215,215,215);
color: black;
}

.nav .togglekeys{
float: none;
order: 1;
box-sizing: border-box;
flex:1 0 40%%;
border: none;
position: relative;
}
}
@media only screen and (max-width: 1000px){
.nav {
width: 100%;
max-width: 1000px;
height: auto;
display: flex;
overflow: auto;
justify-content: flex-start;
align-items: stretch;
align-content: stretch;
flex-flow: row wrap;
box-shadow: none;
display: -webkit-flex; 
-webkit-flex-flow: row wrap;
border: none; 
background-color: rgb(40,40,40);
}
.nav .desk, .nav .dropdown {
display: none;
order: 2;
float: none;
flex: 1 0 95%;
background-color: white;
position: relative;
z-index: 100;
}
.sticky.responsive .desk, .sticky.responsive .dropdown, .nav.responsive .desk, .nav.responsive .dropdown {
display: block;

}
.nav.responsive .icon {
background-color: white;
}

.nav .dropdown .dropdown-content a {
border: none;
background-color: gray;
}
.nav .dropdown .dropdown{
position: relative;
display: flex;
flex-flow: column nowrap;
}
.nav .dropdown .dropdown-content {
flex: 1 0 80px;
}
}
p {
font-size: 1.2em;
}
p a {
text-decoration: none;
color: blue;
font-weight: bold;
}
p a:hover {
text-decoration: underline;
}
p a:visited {
color: purple;
}
p a:active {
text-decoration: underline;
}
.sticky {
position: fixed;
z-index: 100;
top: 0;
margin-left:0px;
padding:none;
width: 100%;
}
@media only screen and (max-width: 1000px){
.sticky {
position: relative;
}
}
.sticky + .content {
padding-top: 60px;
}
.empty {
display: block;
flex-grow: 1;
}
.nav {
display: inline-flex;
width: 100%;
allign-items: center;
flex-wrap: wrap;
justify-content: space-between;
margin: 0px;
background-color: rgba(255,255,255,0.95);
list-style-type: none;
padding: none;
box-sizing: border-box;
box-shadow:inset 0px -5px white;
}
@media only screen and (max-width: 1000px){
.nav {
width: 100%;
max-width: 1000px;
height: auto;
display: flex;
overflow: auto;
justify-content: flex-start;
align-items: stretch;
align-content: stretch;
flex-flow: row wrap;
box-shadow: none;
display: -webkit-flex; 
-webkit-flex-flow: row wrap;
border: none; 
background-color: rgb(215,215,215);
}
}

.nav a {
text-align: center;
text-decoration: none;
flex-grow: 1;
color: black;
text-transform: uppercase;
font-size: 28px;
margin: 0px;
font-weight: bold;
padding: 11px 5px;
display: block;
border-bottom: 5px solid white;
float: left;
}
@media only screen and (max-width: 1000px){
.nav a {
font-size: 30px;
padding: 10px;
border: none;
float:none;
}
}

.nav a:hover, .nav .dropdown:hover .dropbtn, .nav .dropdown .dropdown-content a:hover {
background-color: black;
color: white;
}
@media only screen and (max-width: 1000px){
.nav a:hover, .nav .dropdown:hover .dropbtn {
background-color: white;
color: black;
}
.nav .dropdown .dropdown-content a:hover {
background-color: rgb(215,215,215);
color: black;
}
}


.nav .dropdown .dropdown-content {
display: none;
position: absolute;
width: inherit;
min-width: 350px;
z-index: 1;
border-left: 5px solid white;
border-right: 5px solid white;
border-bottom: 5px solid white;
}
@media only screen and (max-width: 1000px){
.nav .dropdown .dropdown-content {
position: relative;
border: none;
}
}
.nav .dropdown:hover .dropdown-content {
display: block;
}
@media only screen and (max-width: 1000px){
.nav .dropdown:hover .dropdown-content{
display: none;
}
.nav .dropdown .dropdown-content.alsoresponsive{
display: block;
}
}



.nav .dropdown {
float: left;
overflow: hidden;
flex-grow:1;
}


.nav .dropdown .dropdown-content a{
float: none;
text-align: left;
display: block;
text-transform: capitalize;
font-size: 20px;
border: none;
background-color: white;
}
@media only screen and (max-width: 1000px){
.nav .dropdown .dropdown-content a {
border: none;
background-color: rgb(215,215,215);
font-size: 25px;
}
}


.nav .dropdown .dropbtn {
margin: 0;
width: 100%;
text-align: center;
font-family: inherit;
background-color: inherit;
outline: none;
font-size: 28px;
font-weight: bold;
padding: 11px 5px;
display: block;
color: black;
text-transform: uppercase;
border-right: none;
border-top: none;
border-bottom: 5px solid white;
border-left: none;
}
@media only screen and (max-width: 1000px){
.nav .dropdown .dropbtn {
font-size: 30px;
padding: 10px;
border: none;
}
}

.nav .dropdown .dropdown-content a:hover {
border:none;
}

.top {
background-image: url("pianobackgroundinvert.jpg");
z-index: 1;
background-size: cover;
}
@media only screen and (max-width: 1000px){
.top {
background-image: url("pianobackgroundinvertmobile.jpg");
background-color: lightgrey;
background-size: cover;
}
}
.heading{
text-transform: uppercase;
color: black;
text-align: center;
font-size: 75px;
font-size: 5.5vw;
margin: 0px;
padding: 50px;
text-shadow: -3px -3px 10px darkgray;
}
@media only screen and (max-width: 1000px){
.heading{
font-size: 54px;
font-size: 14vw;
text-align: left;
margin: 0px;
padding: none;
position: relative;
top: -50px;
right: 40px;
text-shadow: 3px 3px 5px darkgray;
}
}
.gear {
color: white;
}
@media only screen and (max-width: 1000px){
.separate {
display: block;
}
}
body {
z-index:0;
background-color: rgba(20,20,20);
}

.preview {
margin-left: 70px;
box-sizing: border-box;
width: 60%;
text-align: left;
background-color: black;
padding: 25px;
color: white;
margin-top: 100px;
margin-bottom: 100px;
}
@media only screen and (max-width: 1000px){
.preview{
margin: auto;
margin-top: 50px;
margin-bottom: 50px;
width: 95%;
}
}
.readmore {
border: 5px solid white;
font-size: 20px;
font-weight: bold;
padding: 10px 20px;
background-color: black;
color: white;
outline: none;
}
.readmore:hover {
border: 5px solid lightgray;
background-color: white;
color: black;
outline: none;
}
.readmore:active {
outline:none;
}
.review {
margin-left: 70px;
box-sizing: border-box;
width: 60%;
text-align: left;
background-color: black;
color: white;
padding: 30px;

margin-bottom: 100px;
}
@media only screen and (max-width: 1000px){
.review{
margin: auto;
margin-top: 50px;
margin-bottom: 50px;
width: 95%;
}
}
.authorpara {
margin-left: 70px;
box-sizing: border-box;
width: 60%;
text-align: left;
background-color: black;
color: white;

padding: 30px;
margin-top: 100px;
margin-bottom: 100px;
}
@media only screen and (max-width: 1000px){
.authorpara{
margin: auto;
margin-top: 50px;
margin-bottom: 50px;
width: 95%;
}
}
.image {
display: block;
margin: auto;
margin-top: 50px;
margin-bottom: 50px;
width: 90%;
}
.revhead {

margin: 0px 10px;

background-color: black;
color: white;
}
.revdate {

margin: 0px 10px;
margin-top: 0px;
border-top: 2px solid white;
font-size: 20px;
font-weight: bold;
background-color: black;
color: white;
}
.rev {
background-color: black;
color: white;
display: block;
width: 90%;
margin: auto;
padding: 10px 0px;
margin-top: 100px;
margin-bottom: 50px;
margin-left: 70px;
}
@media only screen and (max-width: 1000px){
.rev{
margin: auto;
margin-top: 50px;
margin-bottom: 50px;
width: 95%;
}
}
.author {
text-decoration: none;
color: darkgray;
}
.author:hover {
color: gray;
}
.author:visited {
color: darkgray;
}
.comments {
margin-left: 70px;
box-sizing: border-box;
width: 60%;
text-align: left;
background-color: white;
padding: 30px;

margin-bottom: 100px;
}
.addcomment {
margin-left: 70px;
box-sizing: border-box;
width: 60%;
text-align: left;
background-color: white;
padding: 30px;
font-weight: bold;

margin-bottom: 100px;
}
.mainfield {
width: 50%;
hieght: 300px;
}
.nav .togglekeys {
padding: none;

box-sizing: border-box;
display: inline-block;
float: right;
background-color: white;
width: 225px;
list-style-type: none;
border: 5px solid gray;
border-radius: 3em;
margin-top: 10px;
margin-right: 10px;
margin-left: 0px;
margin-bottom: 10px;
background-color: black;
}
@media only screen and (max-width: 1000px){
.nav .togglekeys  {
width: 40px;
border-radius: 20px;
margin-top: 26px;
margin-bottom: 26px;
padding: 0px;
border: none;
}
}

.nav .togglekeys p {
padding: 3px 10px;
font-size: 20px;
text-transform: uppercase;
margin: auto;
font-weight: bold;
color: white;

}
@media only screen and (max-width: 1000px){
.nav .togglekeys p {
font-size: 0;
padding: none;
}
}
#switch {
position: relative;
display: inline-block;
width: 45px;
height: 20px;

}
@media only screen and (max-width: 1000px){
#switch {
width: 20px;
height: 10px;
right: 32px;
top: 3px;
}
}
#switch input {
opacity:0;
width:0;
height:0;
}
.slider{
border-radius: 20px;
position: absolute;
cursor: pointer;
top: 0;
left:0;
bottom:0;
background-color: gray;
-webkit-transition: .4s;
transition: .4s;
}

.slider:before {
border-radius: 50%;
position: absolute;
content: "";
height: 20px;
width: 20px;
left: 20px;
bottom: -2px;
-webkit-transition: .4s;
transition: .4s;
background-color: gray;
}

input:checked + .slider:before {
-webkit-transform: translateX(24px);
 -ms-transform: translateX(24px);
  transform: translateX(24px);
}
























